@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Nunito:wght@200&family=Oswald:wght@300&display=swap');
var{
    --h1-color: red;
    --text-color:rgb(44, 43, 43)
}
body{
    min-height: 100vh;
    background-image: url(./img/lens-490806_1920.jpg);
    /* overflow: hidden; */
    position: relative;
}
nav{
    width: 85vw;
    border-radius: 2vh;
    margin-bottom: 5%;
    font-family: Nunito;
    font-weight: bold;
}
.paragraphe{
    margin-bottom: 8vh;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 2vh;
}
#imgbar{
    height: 6vh;
    width: auto;
}
 h2{
    /* background-color: rgb(196, 239, 253); */
    
    font-family: Mukta;
    margin: 0px;
}
.row{ 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#roow{
    padding-bottom: 45px;
    display: flex;
    justify-content: space-around;
}
.imgh{ 
    border-radius: 4vh;
    height: 15vh;
    width: auto;
    margin-left: 20vh;
    /*animation: rotates 3s linear infinite;*/
}  
/* #imgso{
   background-color: lightgoldenrodyellow; 
} */
.imgh2{ 
    padding-bottom: 2vh;
    margin-left: 5vh;
    border-radius: 4vh;
    height: 20vh;
    width: auto;
    animation: rotate 3s linear infinite;
} 
@keyframes rotate{
    0%{
        opacity: 1;
        transform: translate(0%, 0%) rotate(0deg);
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(100%, 0%) rotate(360deg);
    }
}
#nem{
    padding-left: 10vh;        
    
}
#size{
   font-size: 5vh;
   font-weight: bolder;
}
.anima{
    padding-top: 5vh;
    white-space: nowrap;
    animation: anima 15s linear infinite;
}
@keyframes anima{
    0%{
        color:rgb(0, 4, 255);
        transform:translate(0%, 0%);
    }
    12%{
        color: rgb(20, 60, 236);
    }
    25%{
        color: rgb(22, 100, 202);
    }
    37%{
        color: rgb(73, 55, 235);
    }
    50%{
        color: rgb(59, 197, 5);
    }
    67%{
        color: rgb(25, 233, 35);
    }
    75%{
        color: rgb(8, 151, 68);
    }
    88%{
        color: rgb(18, 155, 18)
    }
    100%{
        color: green;
        transform:translate(100%, 0%);
    }
}
.mention{
    text-decoration: none;
    color:rgb(252, 247, 247);
    position: relative;
}
.mention::before{
    content: "";
    position: absolute;
    background: rgb(73, 128, 231);
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
}
.mention:hover{
    color: rgb(73, 128, 231);
}
.mention:hover::before{
    transform-origin: 0 0;
    transform: scaleX(1);
}
footer{ 
    width: 100%;
    margin-top: 25px;
    padding-bottom: 25px;
}
.view{
    margin: 0;
    padding: 0;
    display: flex;
    padding-right: 5vh;
    padding-left: 15vh;
}
.view li {
    list-style: none;
    color: rgb(48, 48, 49);
    font-family: arial;
    font-size: 5vh;
    letter-spacing: 1vh;
    font-weight: 900;
    animation: flash 3s linear infinite;
}
ol{
    margin: 0;
    padding: 0;
    display: flex; 
}
ol li {
    list-style: none;
    color: rgb(48, 48, 49);
    font-family: arial;
    font-size: 5vh;
    letter-spacing: 1vh;
    font-weight: 900;
    animation: flashon 3s linear infinite;
}
@keyframes flash{
    0%{
        color: rgb(82, 218, 82);
        text-shadow: none;
    }
    90%{
        color: rgb(82, 218, 82);
        text-shadow: none;
    }
    100%{
        color: rgb(33, 63, 235);
        text-shadow: 0 0 7px #f7f4f4, 0 0 50px  #051d6b;
    }
}
    ul li:nth-child(1){
        animation-delay: .1s 
    }
    ul li:nth-child(2){
        animation-delay: .2s 
    }                   
    ul li:nth-child(3){
        animation-delay: .3s 
    }
    ul li:nth-child(4){
        animation-delay: .4s 
    }
    @keyframes flashon{
        0%{
            color: rgb(82, 218, 82);
            text-shadow: none;
        }
        90%{
            color: rgb(82, 218, 82);
            text-shadow: none;
        }
        100%{
            color: rgb(33, 63, 235);
            text-shadow: 0 0 7px #f7f4f4, 0 0 50px  #051d6b;
        }
    }
ol li:nth-child(1){  
    animation-delay: .5s 
}
ol li:nth-child(2){
    animation-delay: .6s 
}                   
ol li:nth-child(3){
    animation-delay: .7s 
}
ol li:nth-child(4){
    animation-delay: .8s
}
ol li:nth-child(5){
    animation-delay: .9s 
}
.carousel{
    width: 10%;
    height: auto;
    margin-bottom: 1%;
    margin-top: 1%;
}
article{
    margin-left: 5vh;
    border-radius: 4vh;
}
.card{
    background-color: rgba(32, 31, 31, 0.801);
    color: rgb(154, 183, 247);
    text-align: center; 
    /* height: 0vh; */
    width: auto;  
}
#hebergement{
    margin-top: 20px;
}
/* ---------------------mediaquerry----------------------- */
@media(max-width:768px){
    .imgh2{
        height: 12vh;
        width: auto;
        margin: 0px;
    }
    .view{
        padding-left: 0;
    }
    footer .row{
        padding: 0px;
        margin: 0px;
    }
    article{
        margin-left: 0.5vh;
    }
    #size{
        font-size: 15px;
    }
    @keyframes anima {
        0%{
            transform: translate(0%, 0%);
            color: rgb(9, 0, 128);
        }
        100%{
            color: green;
        }
    }
}
@media(min-width:768px){
    footer{
        position: absolute;
        bottom: 0;
    }
}